<div class="w-100 text-center" style="margin-top: 10px;">
    <img src="../assets/images/bandpar-image.jpeg" alt="Logo da Empresa">
</div>
<div style="width:100%; text-align: center; margin-top: 5px;">BANDPAR COM.PARAFUSOS E
    FERRAMENTAS LTDA</div>
<div style="width:100%; text-align: center; margin-top: 5px;">RUA SERRA DOS PERINEUS, 00576 - J BANDEIRANTES LONDRINA -
    PR <br>Fone/WhatsApp: (43)3028-5949 </div>
<div style="width:100%; text-align: center; margin-top: 5px;">
    E-mail:
    <a href="mailto:bandparferramentas1@hotmail.com">bandparferramentas1@hotmail.com</a>
</div>
<div style="width:100%; text-align: center; margin-top: 5px;">
    Instagram: <a href="https://www.instagram.com/bandparferramentas/">@bandparferramentas</a>
</div>